<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <main>

        <h1 class="faq-heading">FAQ'S</h1>
        <section class="faq-container">
            <div class="faq-one">

                <!-- faq question -->
                <h1 class="faq-page">About us?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>We're an NGO that helps protect earth by giving donations towards making the world a safer place by reducing carbon emissions</p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">

                <!-- faq question -->
                <h1 class="faq-page">Why is it important?</h1>

                <!-- faq answer -->

                <div class="faq-body">
                    <p>Because earth is sick and we are suffering with high sea rise, extreme weathers and even the animals are affected by being displaced</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="faq-three">

                <!-- faq question -->
<h1 class="faq-page">Who are ur founders?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Hehe our organisations dont want credit. we just wanna help</p>
                </div>
            </div>

        </section>
    </main>
    <script src="main.js"></script>
</body>


</html>